.review {
  background: white;
  border: 1px solid $grey;
  border-bottom: 0;
  border-bottom: 1px solid $grey;
  border-radius: 5px;
  margin-bottom: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  padding-left: 5px;
  &:before {
    width: 5px;
    left: 0;
    content: "";
    display: block;
    background: $verticalGrad;
    position: absolute;
    height: 100%;
    background-attachment: fixed;
  }
  &__header {
    // border-bottom: 1px solid $grey;
    display: flex;
    & > * {
      // this is fine, don't email me about it
      // border-right: 1px solid $grey;
      padding: 0.2rem;
      display: flex;
      align-items: center;
      flex: 1;
      // justify-content: center;
      &:last-child {
        border-right: 0;
      }
    }
  }
  &__author {
    justify-content: flex-start;
    padding-left: 2rem;
    display: flex;
    .avatar {
      margin-right: 1rem;
      min-width: 30px;
      height: 30px;
    }
    p {
      font-weight: bold;
    }
  }
  &__time {
    justify-content: flex-end;
    margin-right: 15px;
    font-size: 1.2rem;
    color: lighten(black, 60%);
  }
  &__stars {
    color: $yellow;
    margin-left: 10px;
    font-size: 20px;
    &.in__single {
      font-size: 30px;
      float: right;
      margin-top: -2.5rem;
      margin-right: 1rem;
      background: #303030;
      position: relative;
      padding: 0.25rem;
      border-radius: 3px;
      display: flex;
      justify-content: center;
      align-items: center;
      & span {
        color: white;
        font-size: 12px;
        vertical-align: middle;
        padding: 0 2px;
      }
    }
    &.in___single {
      font-size: 30px;
      margin-right: 1rem;
      margin: 1rem;
      background: white;
      position: relative;
      padding: 0.25rem;
      border-radius: 3px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
      -ms-flex-align: center;
      align-items: baseline;
      display: inline-block;
      border: 1px solid #e6e6e6;
      & span {
        color: black;
        font-size: 12px;
        vertical-align: middle;
        padding: 0 2px;
      }
    }
    &.in__top {
      font-size: 30px;
      margin: 0 auto;
      background: #303030;
      position: relative;
      padding: 0.25rem;
      border-radius: 3px;
      display: flex;
      justify-content: center;
      align-items: center;
      & span {
        color: white;
        font-size: 12px;
        vertical-align: middle;
        padding: 0 2px;
      }
    }
  }
  &__body {
    padding: 0rem 2rem;
    p {
      margin: -10px 0 20px;
      font-size: 14px;
    }
  }
  p {
    white-space: pre-wrap;
  }
}
