.table {
  width: 100%;
  td {
    padding: 5px;
    border-radius: 3px;
    text-align: center;
    font-size: 20px;
    font-family: "Panama", sans-serif;
    img {
      height: 100px;
      object-fit: cover;
    }
  }
  tr:nth-child(even) {
    background: white;
  }
  tr:nth-child(odd):not(:first-child) {
    background: #f7f7f7;
  }
  thead tr {
    background: $black;
    color: white;
  }
}
